@model IEnumerable<StudentDirectory.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Students</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
    </tr>

    @foreach(var student in Model){
        <tr>
            <td>
                @Html.DisplayFor(studentItem => student.FirstName)
            </td>
            <td>
                @Html.DisplayFor(studentItem => student.LastName)
            </td>
            <td>
                @Html.DisplayFor(studentItem => student.Grade)
            </td>
            <td>
                @Html.DisplayFor(studentItem => student.Age)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /*id=student.Id*/})
                @Html.ActionLink("Delete", "Delete", new { id=student.Id})
            </td>
        </tr>
    }
</table>